$radius-xs: 8px;
$radius-sm:10px;
$radius-md: 12px;
$radius-lg: 16px;
$radius-xl: 20px;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-lg: 16px;
$spacing-xl: 20px;


$bp-tablet: 960px;
$bp-mobile: 768px;