<div class="page-layout">
  <header class="header">
    <div class="header-unibet">
      <div>
        <img src="logo-unibet.svg" alt="logo-unibet">
      </div>
        <div class="navbar">
          <a href="/sport" class="active"><img class="icon-svg" alt="logo profil sport" src="profile-sport.svg">
          <span>Paris sportifs</span></a>
      </div>
      
      <div>
        <img src="adult-only-logo.svg" alt="adult-only-logo">
      </div>
    </div>
  </header>
  <section class="matches-panel">
    <app-match-list></app-match-list>
  </section>

  <aside class="bet-slip-panel">
    <app-bet-slip></app-bet-slip>
  </aside>
</div>
